.App{
    background-color: hsl(217, 19%, 24%);
    padding: 40px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 350px;
    border-radius: 10px;
    
}

@media (min-width:500px){
    .App {
      width: 480px;
    }
  }